@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
input,
select,
textarea,
button {
  font-family: inherit;
}
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #d9cfb4;
  border-radius: 4px;
}
